<div class="container container-ce">
	<h3 class="titulo-tab">Lista de Saques</h3>
	<th></th>
	<a class="btn btn-primary btn-block" routerLink="/saque"> Novo Saque</a>
	<th></th>
	<input class="form-control" ng-model="criterio" type="text" placeholder="Digite algo que queria buscar..."/>
	<div style="overflow:auto">
		<table ng-show="saques.length > 0" class="table">
			<tr>
				<th><a href="" ng-click="ordenarPor('nome')">Caixa</a></th>
				<th><a href="" ng-click="ordenarPor('valor')">Cliente</a></th>
				<th>Valor</th>
				<th></th>
			</tr>
			<tr *ngFor="let saque of saques">
				<td><a routerLink="/caixa/{{saque.caixa.id}}">{{saque.caixa.nome}}</a></td>
				<td><a routerLink="/usuario/{{saque.usuario.id}}">{{saque.usuario.nome}}</a></td>
				<td>{{saque.valor | currency:'BRL':true}}	</td>
				<td><a class="btn btn-primary btn-block" routerLink="/saque/{{saque.id}}"> Editar </a></td>
			</tr>
		</table>
		<hr/>
	</div>
</div>