<div class="jumbotron">
	<div class="container container-ce">
		<h3 class="titulo-tab">Cadastro de Usuario</h3>
		<th></th>
		Validation status: {{ formTe.status }}
		<th></th>
			<a class="btn btn-primary" href="#/usuarios"> voltar</a>
		<th></th>
		<br/>
		<div class="alert alert-danger" role="alert" *ngIf="(msgErro != '')">
			<span class="alert alert-danger" aria-hidden="true"></span>
			{{msgErro}}
		</div>

		<div class="alert alert-danger" role="alert" *ngIf="!formTe.controls.nome.valid 
				&& !formTe.controls.nome.pristine">
			Digite um nome
		</div>

		<div class="alert alert-danger" role="alert" *ngIf="!formTe.controls.saldo.valid 
				&& !formTe.controls.saldo.pristine">
			Digite o saldo
		</div>

		<div class="form-horizontal form-horizontal-ce">
			<form [formGroup]="formTe">
				
				
				<div class="form-group form-group-ce">
					<label for="nome" class="col-sm-2 col-md-2 control-label">Nome:</label>
					<div class="col-sm-4"  [ngClass]="{
						  'alert alert-danger': !formTe.controls.nome.valid 
				&& !formTe.controls.nome.pristine
						}" >
						<input formControlName="nome" [(ngModel)]="usuario.nome" type="text" id="nome" name="nome" class="form-control" placeholder="Preencha seu nome">
					</div>
					<label for="saldo" class="col-sm-2 col-md-2 control-label">Saldo:</label>
					<div class="col-sm-4" [ngClass]="{
						  'alert alert-danger': !formTe.controls.saldo.valid 
							&& !formTe.controls.saldo.pristine
							}">
						<input formControlName="saldo" [(ngModel)]="usuario.saldo" class="form-control"  name="saldo" id="saldo"
						currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" placeholder="Preencha o saldo">
					</div>
				</div>
			</form>
		</div>
		<div class="col-xl-12" align="center">
			<div class="col-xl-12 col-sm-4">
				<input type="button" class="btn btn-primary btn-block col-xl-12 col-sm-4" value="Salvar"
					[disabled]="!formTe.valid" (click)="salvar()">
			</div>
		</div>
	</div>
</div>